{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
</head>
<body>
    <h1>Калькуляция колледж</h1>
    <a href="{% url 'kitchen:table_products' %}">Список продуктов</a>
    <a href="{% url 'kitchen:table_dishes' %}">Блюда</a>
    <a href="{% url 'kitchen:table_products' %}">Меню</a>
    <a href="{% url 'kitchen:table_products' %}">Расчеты</a>   
 {% block content %}
 
 {% endblock %} 
</body>
</html>

